Balluff Flows (2018-2019)/Food Safety
[{"id":"1cafaea6.c17bd1","type":"tab","label":"Food Safety","disabled":false,"info":""},{"id":"bdaeaab9.927ab","type":"inject","z":"1cafaea6.c17bd1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["e75309d7.6b34b"]]},{"id":"12383a06.c4f68e","type":"http request","z":"1cafaea6.c17bd1","name":"IP69K","method":"GET","ret":"obj","url":"http://192.168.0.7/dprop.jsn","tls":"","x":350,"y":40,"wires":[["8e87f593.720a6"]]},{"id":"8e87f593.720a6","type":"function","z":"1cafaea6.c17bd1","name":"get_I/O_Devices","func":"//This function copies jSon data from the master and \n//creates an array of jSon Objects.\n//Update the maxPorts number based on the \n//master chosen (4, 8 or 16).\nvar list=[];\nvar maxPorts = 8;\nvar ioLinkDevice= {};\nvar bCopyDevice=true;\n\nfor (i=0; i<maxPorts*2; i++ )\n{\n    //if (bCopyDevice)\n    {\n        ioLinkDevice = msg.payload[i];\n        list.push(ioLinkDevice);\n        ioLinkDevice={};\n        bCopyDevice =false;\n    }\n   // else\n  //  {\n  //      bCopyDevice =true;\n  //  }\n}\nreturn { payload : list};","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["c4a67194.466008","66d7ee98.11005","439a31bc.1c2d78","3ae1c981.d1dcb6","9723eb09.96e03"]]},{"id":"e75309d7.6b34b","type":"trigger","z":"1cafaea6.c17bd1","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","name":"750ms","x":230,"y":40,"wires":[["12383a06.c4f68e"]]},{"id":"7ee71e02.68276","type":"ui_ui_control","z":"1cafaea6.c17bd1","name":"tab switch","x":406,"y":1017,"wires":[[]]},{"id":"1d2d2bc6.9c1a54","type":"comment","z":"1cafaea6.c17bd1","name":"Tab switching","info":"","x":82,"y":930,"wires":[]},{"id":"c4a67194.466008","type":"function","z":"1cafaea6.c17bd1","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 0;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["f6fe8774.6bc83"]]},{"id":"66d7ee98.11005","type":"function","z":"1cafaea6.c17bd1","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 1;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["a53bee69.9f4e88"]]},{"id":"439a31bc.1c2d78","type":"function","z":"1cafaea6.c17bd1","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 4;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["595b79c7.283ae8"]]},{"id":"3ae1c981.d1dcb6","type":"function","z":"1cafaea6.c17bd1","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 7;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":190,"y":260,"wires":[["a4618614.4c705"]]},{"id":"3fcddfe8.59ad78","type":"comment","z":"1cafaea6.c17bd1","name":"0","info":"","x":71,"y":102,"wires":[]},{"id":"a77de758.f0834","type":"comment","z":"1cafaea6.c17bd1","name":"1","info":"","x":71,"y":142,"wires":[]},{"id":"e9cca307.306bb","type":"comment","z":"1cafaea6.c17bd1","name":"4","info":"","x":71,"y":222,"wires":[]},{"id":"9d89a4e2.c7ede8","type":"comment","z":"1cafaea6.c17bd1","name":"7","info":"","x":72,"y":259,"wires":[]},{"id":"f6fe8774.6bc83","type":"function","z":"1cafaea6.c17bd1","name":"BCS011E (high)","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBTLVal',finalNum);\n\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["f29d8769.951dd"]]},{"id":"a53bee69.9f4e88","type":"function","z":"1cafaea6.c17bd1","name":"BCS011E (low)","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBTLVal',finalNum);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["a520fbea.a2fa68"]]},{"id":"595b79c7.283ae8","type":"function","z":"1cafaea6.c17bd1","name":"BNI00C6","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \n\n//analog to IO link signql converter used\n\nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBTLVal',finalNum);\nfinalNum=(finalNum/1000); //um to cm conversion\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["9a58ef3b.0fb3f"]]},{"id":"a4618614.4c705","type":"function","z":"1cafaea6.c17bd1","name":"BOS0171","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBTLVal',finalNum);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["f213070c.45b98"]]},{"id":"56552e2.d5206d","type":"ui_text","z":"1cafaea6.c17bd1","group":"76107308.8d8574","order":4,"width":0,"height":0,"name":"High Capacative Contact","label":"High Capacative Contact","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":670,"y":100,"wires":[]},{"id":"f29d8769.951dd","type":"function","z":"1cafaea6.c17bd1","name":"Trig","func":"msg.color=(msg.payload>40960)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["56552e2.d5206d"]]},{"id":"49d5e21d.45395c","type":"ui_text","z":"1cafaea6.c17bd1","group":"76107308.8d8574","order":3,"width":0,"height":0,"name":"Low Capacative Contact","label":"Low Capacative Contact","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":670,"y":140,"wires":[]},{"id":"a520fbea.a2fa68","type":"function","z":"1cafaea6.c17bd1","name":"Trig","func":"msg.color=(msg.payload>40960)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["49d5e21d.45395c"]]},{"id":"4c3c6808.77ed28","type":"ui_text","z":"1cafaea6.c17bd1","group":"76107308.8d8574","order":5,"width":0,"height":0,"name":"Fork Sensor Detection","label":"Fork Sensor Detection","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":400,"y":338,"wires":[]},{"id":"a03fea51.5deb88","type":"function","z":"1cafaea6.c17bd1","name":"Trig","func":"msg.color=(msg.payload===true)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":338,"wires":[["4c3c6808.77ed28"]]},{"id":"6315b66e.efe4d8","type":"ui_text","z":"1cafaea6.c17bd1","group":"76107308.8d8574","order":6,"width":0,"height":0,"name":"Optical Sensor Detection","label":"Photoelectric Detection","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":630,"y":260,"wires":[]},{"id":"f213070c.45b98","type":"function","z":"1cafaea6.c17bd1","name":"Trig","func":"msg.color=(msg.payload>4160)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["6315b66e.efe4d8"]]},{"id":"9a58ef3b.0fb3f","type":"ui_gauge","z":"1cafaea6.c17bd1","name":"BTL Gauge","group":"76107308.8d8574","order":8,"width":0,"height":0,"gtype":"gage","title":"Linear Transducer Position","label":"cm to top","format":"{{value}}","min":0,"max":"22","colors":["#00b500","#e6e600","#ca3838"],"seg1":"16","seg2":"19","x":470,"y":220,"wires":[]},{"id":"678d2de7.cbebf4","type":"comment","z":"1cafaea6.c17bd1","name":"PLC Counter","info":"","x":90,"y":385,"wires":[]},{"id":"3e24f9ab.69bede","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Number_Cans_Processed","diff":true,"name":"","x":130,"y":425,"wires":[["e0847402.07f088"]]},{"id":"e0847402.07f088","type":"ui_text","z":"1cafaea6.c17bd1","group":"c13efc11.c4ae4","order":3,"width":0,"height":0,"name":"","label":"Number of Cans Processed:","format":"{{msg.payload}}","layout":"row-left","x":380,"y":425,"wires":[]},{"id":"2faac612.db1a0a","type":"ui_button","z":"1cafaea6.c17bd1","name":"","group":"c13efc11.c4ae4","order":4,"width":0,"height":0,"passthru":false,"label":"RESET COUNT","color":"","bgcolor":"red","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"","x":100,"y":471,"wires":[["3e1b378.957c748"]]},{"id":"b9f28d84.a86b98","type":"s7 out","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","variable":"Reset_Counter","name":"","x":400,"y":471,"wires":[]},{"id":"3e1b378.957c748","type":"function","z":"1cafaea6.c17bd1","name":"","func":"msg.variable=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":471,"wires":[["b9f28d84.a86b98"]]},{"id":"85bd013c.994ad8","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Reset_Counter","diff":true,"name":"","x":100,"y":517,"wires":[["cb909486.fa7168"]]},{"id":"cb909486.fa7168","type":"change","z":"1cafaea6.c17bd1","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":517,"wires":[["1e7a55e6.dd4072"]]},{"id":"1e7a55e6.dd4072","type":"s7 out","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","variable":"Reset_Counter","name":"","x":500,"y":517,"wires":[]},{"id":"a8c11467.65a5a8","type":"comment","z":"1cafaea6.c17bd1","name":"PLC RunTime","info":"","x":90,"y":564,"wires":[]},{"id":"713a1335.c4beac","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Run_Time","diff":true,"name":"","x":80,"y":604,"wires":[["bece2c4f.8861c"]]},{"id":"54c45a87.3cfab4","type":"ui_button","z":"1cafaea6.c17bd1","name":"","group":"c13efc11.c4ae4","order":6,"width":0,"height":0,"passthru":false,"label":"RESET RUNTIME","color":"","bgcolor":"red","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"","x":110,"y":650,"wires":[["f7f13018.d4dbf"]]},{"id":"f7f13018.d4dbf","type":"function","z":"1cafaea6.c17bd1","name":"","func":"msg.variable=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":650,"wires":[["4cabbcb9.523f0c"]]},{"id":"61dd217b.1cdd7","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Reset_Run_Timer","diff":true,"name":"","x":110,"y":697,"wires":[["5b1198b6.3a7e8"]]},{"id":"5b1198b6.3a7e8","type":"change","z":"1cafaea6.c17bd1","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":697,"wires":[["3a44154b.bacb6a"]]},{"id":"3a44154b.bacb6a","type":"s7 out","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","variable":"Reset_Run_Timer","name":"","x":530,"y":697,"wires":[]},{"id":"4cabbcb9.523f0c","type":"s7 out","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","variable":"Reset_Run_Timer","name":"","x":430,"y":650,"wires":[]},{"id":"77e8a02b.00031","type":"ui_text","z":"1cafaea6.c17bd1","group":"c13efc11.c4ae4","order":5,"width":0,"height":0,"name":"","label":"Operation Time:","format":"{{msg.payload}}","layout":"row-left","x":560,"y":604,"wires":[]},{"id":"41ddd912.499798","type":"function","z":"1cafaea6.c17bd1","name":"hh:mm:ss","func":"// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":604,"wires":[["77e8a02b.00031"]]},{"id":"fb1ce67e.7d6f28","type":"comment","z":"1cafaea6.c17bd1","name":"PLC Rail-Timer","info":"","x":100,"y":744,"wires":[]},{"id":"2c44d562.3ef202","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Rail_Time","diff":true,"name":"","x":80,"y":784,"wires":[["310d5d66.c8e2a2"]]},{"id":"bece2c4f.8861c","type":"function","z":"1cafaea6.c17bd1","name":"millisec to sec","func":"msg.payload=msg.payload/1000;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":604,"wires":[["41ddd912.499798"]]},{"id":"eaa897ac.d613a8","type":"function","z":"1cafaea6.c17bd1","name":"hh:mm:ss","func":"//message from last node is in seconds-should be less than 24 hours\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":784,"wires":[["c8ef9f28.64d7"]]},{"id":"310d5d66.c8e2a2","type":"function","z":"1cafaea6.c17bd1","name":"millisec to sec","func":"msg.payload=msg.payload/1000;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":784,"wires":[["eaa897ac.d613a8"]]},{"id":"c8ef9f28.64d7","type":"ui_text","z":"1cafaea6.c17bd1","group":"3e0de930.7f506e","order":3,"width":0,"height":0,"name":"","label":"Last Rail Change:","format":"{{msg.payload}}","layout":"row-left","x":570,"y":784,"wires":[]},{"id":"2bf4c575.88b672","type":"ui_button","z":"1cafaea6.c17bd1","name":"","group":"3e0de930.7f506e","order":4,"width":0,"height":0,"passthru":false,"label":"RESET RAIL TIMER","color":"","bgcolor":"lime","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"","x":120,"y":834,"wires":[["9129f1ca.f7d558"]]},{"id":"9129f1ca.f7d558","type":"function","z":"1cafaea6.c17bd1","name":"","func":"msg.variable=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":834,"wires":[["ac93f3e6.6eccd8"]]},{"id":"ac93f3e6.6eccd8","type":"s7 out","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","variable":"Rail Timer Reset","name":"","x":450,"y":834,"wires":[]},{"id":"c103caa7.dad8","type":"s7 out","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","variable":"Rail Timer Reset","name":"","x":510,"y":882,"wires":[]},{"id":"e86d8918.2c0f2","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Rail Timer Reset","diff":true,"name":"","x":100,"y":882,"wires":[["f06a7066.90fec"]]},{"id":"f06a7066.90fec","type":"change","z":"1cafaea6.c17bd1","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":299,"y":882,"wires":[["c103caa7.dad8"]]},{"id":"23e2f613.b2321a","type":"http in","z":"1cafaea6.c17bd1","name":"","url":"/JPG.png","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1150,"wires":[["31380b87.75cdc4"]]},{"id":"31380b87.75cdc4","type":"file in","z":"1cafaea6.c17bd1","name":"File-In Logo","filename":"C:\\Users\\starmackk\\node_modules\\node-red\\public\\images\\JPG.png","format":"","sendError":true,"x":246,"y":1150,"wires":[["351e8a7.ab47df6"]]},{"id":"351e8a7.ab47df6","type":"change","z":"1cafaea6.c17bd1","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"JPG/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402,"y":1150,"wires":[["82cc8a51.22494","95b40408.0087d8"]]},{"id":"82cc8a51.22494","type":"http response","z":"1cafaea6.c17bd1","name":"Logo Display","statusCode":"","headers":{},"x":557,"y":1150,"wires":[]},{"id":"95b40408.0087d8","type":"ui_template","z":"1cafaea6.c17bd1","group":"3e0de930.7f506e","name":"logo","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\"><img src=\"/JPG.png\" height=30 width=250></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":688,"y":1150,"wires":[[]]},{"id":"76db38e9.e06e5","type":"http in","z":"1cafaea6.c17bd1","name":"","url":"/JPG.png","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1189,"wires":[["51dba2bc.41cf7c"]]},{"id":"51dba2bc.41cf7c","type":"file in","z":"1cafaea6.c17bd1","name":"File-In Logo","filename":"C:\\Users\\starmackk\\node_modules\\node-red\\public\\images\\JPG.png","format":"","sendError":true,"x":246,"y":1189,"wires":[["85f3cd5a.d7c58"]]},{"id":"85f3cd5a.d7c58","type":"change","z":"1cafaea6.c17bd1","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"JPG/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402,"y":1189,"wires":[["d411f889.b2af08","20a974f9.6b68bc"]]},{"id":"d411f889.b2af08","type":"http response","z":"1cafaea6.c17bd1","name":"Logo Display","statusCode":"","headers":{},"x":557,"y":1189,"wires":[]},{"id":"20a974f9.6b68bc","type":"ui_template","z":"1cafaea6.c17bd1","group":"c13efc11.c4ae4","name":"logo","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\"><img src=\"/JPG.png\" height=30 width=250></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":688,"y":1187,"wires":[[]]},{"id":"32f169b.040c116","type":"http in","z":"1cafaea6.c17bd1","name":"","url":"/JPG.png","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1229,"wires":[["5e7597d7.98e45"]]},{"id":"5e7597d7.98e45","type":"file in","z":"1cafaea6.c17bd1","name":"File-In Logo","filename":"C:\\Users\\starmackk\\node_modules\\node-red\\public\\images\\JPG.png","format":"","sendError":true,"x":246,"y":1229,"wires":[["4faddeb6.e88f6"]]},{"id":"4faddeb6.e88f6","type":"change","z":"1cafaea6.c17bd1","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"JPG/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402,"y":1229,"wires":[["e200b049.e7e1f8","ec7998fb.64853"]]},{"id":"e200b049.e7e1f8","type":"http response","z":"1cafaea6.c17bd1","name":"Logo Display","statusCode":"","headers":{},"x":557,"y":1228,"wires":[]},{"id":"ec7998fb.64853","type":"ui_template","z":"1cafaea6.c17bd1","group":"76107308.8d8574","name":"logo","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\"><img src=\"/JPG.png\" height=30 width=250></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":1223,"wires":[[]]},{"id":"17ad37bd.51a72","type":"comment","z":"1cafaea6.c17bd1","name":"Logo Insert","info":"","x":80,"y":1110,"wires":[]},{"id":"b26059f2.555","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"RFID_IDCard_Data","diff":true,"name":"","x":102,"y":974,"wires":[["84ece3c2.cfc7c8"]]},{"id":"84ece3c2.cfc7c8","type":"function","z":"1cafaea6.c17bd1","name":"if","func":"if (msg.payload==23){ //assigned value to rfid chip\n    msg.payload=\"Maintenance\";\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":260,"y":974,"wires":[["7ee71e02.68276"]]},{"id":"3ca7f262.22d23e","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"RFID_IDCard_Data","diff":true,"name":"","x":102,"y":1017,"wires":[["3d9bfd08.e0403a"]]},{"id":"3d9bfd08.e0403a","type":"function","z":"1cafaea6.c17bd1","name":"if","func":"if (msg.payload==5){ //assigned value to rfid chip\n    msg.payload=\"Operator\";\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":260,"y":1017,"wires":[["7ee71e02.68276"]]},{"id":"44c59d72.75e134","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"RFID_IDCard_Data","diff":true,"name":"","x":106,"y":1061,"wires":[["eb5235b2.0bac7"]]},{"id":"eb5235b2.0bac7","type":"function","z":"1cafaea6.c17bd1","name":"if","func":"if (msg.payload==29){ //assigned value to rfid chip\n    msg.payload=\"Supervisor\";\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":263,"y":1061,"wires":[["7ee71e02.68276"]]},{"id":"eac60c82.55a6c8","type":"s7 in","z":"1cafaea6.c17bd1","endpoint":"b1101acc.9a8b8","mode":"single","variable":"Spork_Sensor","diff":true,"name":"Fork Sensor","x":90,"y":338,"wires":[["a03fea51.5deb88"]]},{"id":"82cd3cb5.cf7cb8","type":"comment","z":"1cafaea6.c17bd1","name":"Hub Device","info":"","x":90,"y":298,"wires":[]},{"id":"d7b0be92.67bf68","type":"ui_gauge","z":"1cafaea6.c17bd1","name":"","group":"c13efc11.c4ae4","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure Sensor","label":"mBar","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"90","x":490,"y":180,"wires":[]},{"id":"80506787.06e168","type":"comment","z":"1cafaea6.c17bd1","name":"Labels","info":"","x":70,"y":1264,"wires":[]},{"id":"71e22275.9f1bc4","type":"ui_template","z":"1cafaea6.c17bd1","group":"c13efc11.c4ae4","name":"operator","order":2,"width":0,"height":0,"format":"<html>\n<style>\nh2 {\n  color: red;\n}\n</style>\n    <body>\n        <h2 align=\"center\">\n            OPERATOR\n        </h2>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":80,"y":1300,"wires":[[]]},{"id":"be547d29.e322b8","type":"ui_template","z":"1cafaea6.c17bd1","group":"3e0de930.7f506e","name":"supervisor","order":2,"width":0,"height":0,"format":"<html>\n<style>\nh2 {\n  color: lime;\n}\n</style>\n    <body>\n        <h2 align=\"center\">\n            SUPERVISOR\n        </h2>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":390,"y":1300,"wires":[[]]},{"id":"ff20aabc.c595b8","type":"ui_template","z":"1cafaea6.c17bd1","group":"76107308.8d8574","name":"maintenance","order":2,"width":0,"height":0,"format":"<html>\n<style>\nh2 {\n  color: yellow;\n}\n</style>\n    <body>\n        <h2 align=\"center\">\n            MAINTENANCE\n        </h2>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":1300,"wires":[[]]},{"id":"9723eb09.96e03","type":"function","z":"1cafaea6.c17bd1","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 2;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["de0f492c.1266d8"]]},{"id":"de0f492c.1266d8","type":"function","z":"1cafaea6.c17bd1","name":"BSP00UT","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=true;\nvar position =[];\nvar finalNum=0;\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\n\nflow.set('myBSPVal',finalNum);\nfinalNum=((finalNum*.1)/4);\nfinalNum=parseFloat(finalNum).toFixed(2);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["d7b0be92.67bf68"]]},{"id":"382630c0.052ea8","type":"comment","z":"1cafaea6.c17bd1","name":"2","info":"","x":70,"y":180,"wires":[]},{"id":"76107308.8d8574","type":"ui_group","z":"","name":"Group 1","tab":"1a48297.3569d57","order":1,"disp":false,"width":"6","collapse":false},{"id":"b1101acc.9a8b8","type":"s7 endpoint","z":"","address":"192.168.0.1","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"750","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"QW2","name":"Number_Cans_Processed"},{"addr":"M0.1","name":"Reset_Counter"},{"addr":"MD4","name":"Run_Time"},{"addr":"M0.2","name":"Reset_Run_Timer"},{"addr":"IB70","name":"RFID_IDCard_Active"},{"addr":"IB77","name":"RFID_IDCard_Data"},{"addr":"I106.5","name":"Spork_Sensor"},{"addr":"MD12","name":"Rail_Time"},{"addr":"M0.3","name":"Rail Timer Reset"}]},{"id":"c13efc11.c4ae4","type":"ui_group","z":"","name":"Group 1","tab":"3ba22fab.210d68","order":1,"disp":false,"width":"6","collapse":false},{"id":"3e0de930.7f506e","type":"ui_group","z":"","name":"Group 1","tab":"e510b40e.6028b","order":1,"disp":false,"width":"6","collapse":false},{"id":"1a48297.3569d57","type":"ui_tab","z":"","name":"Maintenance","icon":"dashboard","order":35},{"id":"3ba22fab.210d68","type":"ui_tab","z":"","name":"Operator","icon":"dashboard","order":34},{"id":"e510b40e.6028b","type":"ui_tab","z":"","name":"Supervisor","icon":"dashboard","order":36}]
