Balluff Flows (2018-2019)/Network_Wall.json
[{"id":"38672f77.02d5a","type":"tab","label":"Network Wall","disabled":false,"info":""},{"id":"ed29e863.15fda","type":"link out","z":"38672f77.02d5a","name":"","links":["c803e6f8.82f0b8","d855345.c91d0c8","7cbe41e4.e93128","a3b756d8.7bc1d","2b499024.63c1","fdfa066c.83a528","750c0838.48e87","2e943a48.ba769e","74386785.4d5fc8","dbab61a8.b46d68","d48cc2ed.0b63b8","1311c67f.bf1c4a","740e89b3.5460f","74c62ff1.3d693","5c80ba4a.ef0a24","242638bb.f28da8","720b852f.b4f6d4"],"x":855,"y":20,"wires":[]},{"id":"c803e6f8.82f0b8","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":35,"y":440,"wires":[["ea02c93c.c309e8"]]},{"id":"2cd83302.161e54","type":"link in","z":"38672f77.02d5a","name":"","links":["b59f0ac0.a987c8"],"x":35,"y":980,"wires":[["3e42c262.910486"]]},{"id":"ac6a79fc.9087","type":"link in","z":"38672f77.02d5a","name":"","links":["87448c9f.ddc56","b2eb46fb.709678","44bc3167.ccb8f8"],"x":35,"y":1060,"wires":[["9bc4319e.9434d8"]]},{"id":"5baee3b2.442804","type":"http request","z":"38672f77.02d5a","name":"4portMaster {10.10.242.3/dprop.jsn}","method":"GET","ret":"obj","url":"http://10.10.242.3/dprop.jsn","tls":"","x":482,"y":98,"wires":[["7c4c0c4b.83cadc"]]},{"id":"ee00fb26.96ec6","type":"http request","z":"38672f77.02d5a","name":"16portMaster {10.10.242.6/dprop.jsn}","method":"GET","ret":"obj","url":"http://10.10.242.6/dprop.jsn","tls":"","x":490,"y":20,"wires":[["2556e1e2.b5a7ee"]]},{"id":"3a224ac4.704dbe","type":"function","z":"38672f77.02d5a","name":"get_I/O_Devices","func":"//This function copies jSon data from the master and \n//creates an array of jSon Objects.\n//Update the maxPorts number based on the \n//master chosen (4, 8 or 16).\nvar list=[];\nvar maxPorts = 4;\nvar ioLinkDevice= {};\nvar bCopyDevice=true;\n\nfor (i=0; i<maxPorts*2; i++ )\n{\n    //if (bCopyDevice)\n    {\n        ioLinkDevice = msg.payload[i];\n        list.push(ioLinkDevice);\n        ioLinkDevice={};\n        bCopyDevice =false;\n    }\n   // else\n  //  {\n  //      bCopyDevice =true;\n  //  }\n}\nreturn { payload : list};","outputs":1,"noerr":0,"x":736,"y":60,"wires":[["b59f0ac0.a987c8"]]},{"id":"7c4c0c4b.83cadc","type":"function","z":"38672f77.02d5a","name":"get_I/O_Devices","func":"//This function copies jSon data from the master and \n//creates an array of jSon Objects.\n//Update the maxPorts number based on the \n//master chosen (4, 8 or 16).\nvar list=[];\nvar maxPorts = 4;\nvar ioLinkDevice= {};\nvar bCopyDevice=true;\n\nfor (i=0; i<maxPorts*2; i++ )\n{\n    //if (bCopyDevice)\n    {\n        ioLinkDevice = msg.payload[i];\n        list.push(ioLinkDevice);\n        ioLinkDevice={};\n        bCopyDevice =false;\n    }\n   // else\n  //  {\n  //      bCopyDevice =true;\n  //  }\n}\nreturn { payload : list};","outputs":1,"noerr":0,"x":737,"y":98,"wires":[["87448c9f.ddc56"]]},{"id":"7e3d7264.1e6cb4","type":"comment","z":"38672f77.02d5a","name":"16 Port Master","info":"","x":100,"y":400,"wires":[]},{"id":"99670d26.75d93","type":"comment","z":"38672f77.02d5a","name":"BIS V","info":"","x":70,"y":940,"wires":[]},{"id":"472eaf7f.80bee","type":"comment","z":"38672f77.02d5a","name":"4 Port Master","info":"","x":90,"y":1020,"wires":[]},{"id":"ea02c93c.c309e8","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 0;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":119,"y":440,"wires":[["338e7af2.1c6d7e"]]},{"id":"3e42c262.910486","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 0;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].HeadState.length; i++)\n{\n\tif(msg.payload[port].HeadState.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].HeadState.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":127,"y":980,"wires":[["d86bd12b.ade7d8"]]},{"id":"b59f0ac0.a987c8","type":"link out","z":"38672f77.02d5a","name":"","links":["2cd83302.161e54","c6b82a7c.ecd7d","2de28e74.6b08c2","33e54fcc.eb3bd8","b89b6178.3d301","fc4e3113.59d278","3be50920.c0b586","81276dab.8a18a8","2f0815a9.e06e12"],"x":854,"y":60,"wires":[]},{"id":"87448c9f.ddc56","type":"link out","z":"38672f77.02d5a","name":"","links":["ac6a79fc.9087","8c256316.8dc7a","3dab34d7.bd541c","865d2a72.ef8f6","774c7c46.decf34","e1a4a836.e2f4e8","c46b28a.c6b0658","a4da9cf1.d6aa4","24c4220b.bfb4ce","983f9384.a45e78"],"x":854,"y":98,"wires":[]},{"id":"25485dd3.e07dea","type":"function","z":"38672f77.02d5a","name":"BUS","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=true;\n\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\n\nfinalNum = (finalNum/10)/2; //divide by 2 bc ultrasonic sends 2 way signal\n\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":250,"y":660,"wires":[["d706a219.463db8"]]},{"id":"ab127a57.6740d","type":"inject","z":"38672f77.02d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":80,"wires":[["39b01b34.953ff4"]]},{"id":"d706a219.463db8","type":"ui_gauge","z":"38672f77.02d5a","name":"","group":"86ff1ac3.d31498","order":4,"width":0,"height":0,"gtype":"gage","title":"BUS004P","label":"mm","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":660,"wires":[]},{"id":"f9614f8a.722e38","type":"function","z":"38672f77.02d5a","name":"V_BAE00TK","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=true;\nvar position =[];\nvar finalNum=0;\nfor(i=0; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[startIndex+i], 16)\n    if(i===1 && bIsSigned) position[i]=position[i]& 0xF0;\n    finalNum += position[i];// << (8*(max_size-1-i));\n}\nfinalNum=(finalNum/10);\nflow.set('myBAEValue[2]',\"Voltage is \");\nflow.set('myBAEValue[3]',finalNum);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":270,"y":1040,"wires":[["dd379133.da8d3"]]},{"id":"4c895356.b4bd7c","type":"function","z":"38672f77.02d5a","name":"A_BAE00TK","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=1;\nvar startIndex=2;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\nfor(i=0; i <=max_size; i++)\n{\n    position[i]=parseInt(msg.payload[startIndex+i], 16)\n    if(i===max_size && bIsSigned) position[i]=position[i]& 0xF0;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nfinalNum=finalNum*100;\nflow.set('myBAEValue[0]',\"Current is \");\nflow.set('myBAEValue[1]',finalNum);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":270,"y":1080,"wires":[["6e41b044.fd8a7"]]},{"id":"9bc4319e.9434d8","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 3;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":130,"y":1060,"wires":[["4c895356.b4bd7c","f9614f8a.722e38"]]},{"id":"dd379133.da8d3","type":"ui_gauge","z":"38672f77.02d5a","name":"","group":"1a5c4272.0b27ae","order":3,"width":"0","height":"0","gtype":"gage","title":"BAE00TK Power Supply Voltage","label":"voltage","format":"{{value}}","min":0,"max":"36","colors":["#00b500","#e6e600","#ca3838"],"seg1":"26","seg2":"32","x":490,"y":1040,"wires":[]},{"id":"6e41b044.fd8a7","type":"ui_gauge","z":"38672f77.02d5a","name":"","group":"1a5c4272.0b27ae","order":4,"width":"0","height":"0","gtype":"gage","title":"BAE00TK Power Supply Amperage","label":"mA","format":"{{value}}","min":0,"max":"3800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3200","seg2":"3600","x":500,"y":1080,"wires":[]},{"id":"b101b99f.0c313","type":"function","z":"38672f77.02d5a","name":"BTL","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=4;\nvar startIndex=0;\nvar bIsSigned=true;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBTLVal',finalNum);\nfinalNum=(finalNum/10000);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":250,"y":520,"wires":[["2d116b01.ee2404"]]},{"id":"2d116b01.ee2404","type":"ui_chart","z":"38672f77.02d5a","name":"","group":"e654fc01.7a4f58","order":1,"width":0,"height":0,"label":"BTL1AR0 Position","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":520,"wires":[[],[]]},{"id":"c9ec1a6d.71839","type":"comment","z":"38672f77.02d5a","name":"Port 6","info":"","x":570,"y":520,"wires":[]},{"id":"338e7af2.1c6d7e","type":"function","z":"38672f77.02d5a","name":"BML","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=4;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBMLVal',finalNum);\nfinalNum=(finalNum/1000);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":239,"y":440,"wires":[["ef189580.a7f18"]]},{"id":"ef189580.a7f18","type":"ui_chart","z":"38672f77.02d5a","name":"","group":"e654fc01.7a4f58","order":3,"width":0,"height":0,"label":"BML06HE Position","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8040","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":440,"wires":[[],[]]},{"id":"c22ce750.d70ed","type":"comment","z":"38672f77.02d5a","name":"Port 0","info":"","x":570,"y":440,"wires":[]},{"id":"8053b9ad.f5c318","type":"comment","z":"38672f77.02d5a","name":"Port 8","info":"","x":538,"y":660,"wires":[]},{"id":"e086600a.023848","type":"function","z":"38672f77.02d5a","name":"BSP","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\n\nflow.set('myBSPVal',finalNum);\nfinalNum=((finalNum*.01)/4);\nfinalNum=parseFloat(finalNum).toFixed(2);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":253,"y":740,"wires":[["d667f315.b5c54"]]},{"id":"d667f315.b5c54","type":"ui_gauge","z":"38672f77.02d5a","name":"","group":"86ff1ac3.d31498","order":1,"width":0,"height":0,"gtype":"gage","title":"BSP0087 ","label":"bar","format":"{{value}}","min":"-1","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"6.75","seg2":"7.68","x":406,"y":740,"wires":[]},{"id":"f7a8908c.9b9828","type":"comment","z":"38672f77.02d5a","name":"Port 10","info":"","x":540,"y":740,"wires":[]},{"id":"a3b756d8.7bc1d","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":36,"y":480,"wires":[["38c3a2fe.92d906"]]},{"id":"38c3a2fe.92d906","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 3;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":123,"y":480,"wires":[["bbe56f02.0cb498"]]},{"id":"750c0838.48e87","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":43,"y":520,"wires":[["bdb6aaae.1062a"]]},{"id":"bdb6aaae.1062a","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 6;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":130,"y":520,"wires":[["b101b99f.0c313"]]},{"id":"2e943a48.ba769e","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":35,"y":600,"wires":[["b693dda2.ba2528"]]},{"id":"b693dda2.ba2528","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 7;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":124,"y":600,"wires":[["35a9daca.3907a6"]]},{"id":"74386785.4d5fc8","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":35,"y":660,"wires":[["f67bd5c.5e2b228"]]},{"id":"f67bd5c.5e2b228","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 8;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":130,"y":660,"wires":[["25485dd3.e07dea"]]},{"id":"dbab61a8.b46d68","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":38,"y":700,"wires":[["8124b98b.fbe148"]]},{"id":"8124b98b.fbe148","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 9;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":132,"y":700,"wires":[["6d2563bb.2e150c"]]},{"id":"d48cc2ed.0b63b8","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":38,"y":740,"wires":[["6b1dec6d.2a183c"]]},{"id":"6b1dec6d.2a183c","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 10;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":133,"y":740,"wires":[["e086600a.023848"]]},{"id":"1311c67f.bf1c4a","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":38,"y":780,"wires":[["738e2022.c035"]]},{"id":"738e2022.c035","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 11;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":134,"y":780,"wires":[["60b1b34c.6c649c"]]},{"id":"740e89b3.5460f","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":35,"y":820,"wires":[["40b832ca.e90ffc"]]},{"id":"40b832ca.e90ffc","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 12;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":132,"y":820,"wires":[["3a8e6a97.03adce"]]},{"id":"5c80ba4a.ef0a24","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":35,"y":860,"wires":[["35db1252.2b911e"]]},{"id":"35db1252.2b911e","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 14;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":131,"y":860,"wires":[["92c01348.5a1a78"]]},{"id":"242638bb.f28da8","type":"link in","z":"38672f77.02d5a","name":"","links":["ed29e863.15fda","1c9285ec.0c07e2"],"x":35,"y":900,"wires":[["9b2acc41.6dcb1"]]},{"id":"9b2acc41.6dcb1","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 15;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessInputs.length; i++)\n{\n\tif(msg.payload[port].ProcessInputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessInputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":131,"y":900,"wires":[["3d6543ae.e4bf2c"]]},{"id":"f02b7641.f8e15","type":"comment","z":"38672f77.02d5a","name":"Port 3","info":"","x":851,"y":480,"wires":[]},{"id":"38f0b1f2.46d6ce","type":"comment","z":"38672f77.02d5a","name":"Port 7","info":"","x":770,"y":590,"wires":[]},{"id":"dfe09d0b.b184e","type":"comment","z":"38672f77.02d5a","name":"Port 9","info":"","x":593,"y":700,"wires":[]},{"id":"9b743a5.b42f048","type":"comment","z":"38672f77.02d5a","name":"Port 11","info":"","x":593,"y":780,"wires":[]},{"id":"a42eeb45.84df","type":"comment","z":"38672f77.02d5a","name":"Port 12","info":"","x":831,"y":820,"wires":[]},{"id":"6503c155.44865","type":"comment","z":"38672f77.02d5a","name":"Port 14","info":"","x":851,"y":860,"wires":[]},{"id":"5eaff546.b754a4","type":"comment","z":"38672f77.02d5a","name":"Port 15","info":"","x":811,"y":900,"wires":[]},{"id":"be12f774.fccab","type":"comment","z":"38672f77.02d5a","name":"Port 3","info":"","x":710,"y":1060,"wires":[]},{"id":"159c6a14.8418c6","type":"comment","z":"38672f77.02d5a","name":"Port 0","info":"","x":790,"y":980,"wires":[]},{"id":"35a9daca.3907a6","type":"function","z":"38672f77.02d5a","name":"BMF","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=1;\nvar bIsSigned=true;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBMFVal',finalNum);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":247,"y":600,"wires":[["cdc244c2.ed43a8","608dda51.21d844"]]},{"id":"354a068b.74e6ca","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":4,"width":0,"height":0,"name":"","label":"","format":"","layout":"row-spread","x":430,"y":2260,"wires":[]},{"id":"7c19fc1e.dea334","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":1,"width":0,"height":0,"name":"","label":"","format":"","layout":"row-spread","x":430,"y":2300,"wires":[]},{"id":"3d6543ae.e4bf2c","type":"function","z":"38672f77.02d5a","name":"BOS","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=1;\nvar startIndex=0;\nvar bIsSigned=true;\n\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":254,"y":900,"wires":[["c171ba26.2f1d78"]]},{"id":"3a8e6a97.03adce","type":"function","z":"38672f77.02d5a","name":"BES","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=1;\nvar startIndex=0;\nvar bIsSigned=true;\n\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":252,"y":820,"wires":[["fd01edf4.a6ee7"]]},{"id":"fd01edf4.a6ee7","type":"function","z":"38672f77.02d5a","name":"Trig","func":"msg.color=(msg.payload===1)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":389,"y":820,"wires":[["b45682a5.01d91"]]},{"id":"b45682a5.01d91","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":3,"width":0,"height":0,"name":"","label":"IO Link N.C. Inductive Sensor Detection","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":615,"y":820,"wires":[]},{"id":"6389c85c.29b99","type":"function","z":"38672f77.02d5a","name":"Trig","func":"msg.color=(msg.payload===1)?\"orange\":\"white\"; \nreturn msg;","outputs":1,"noerr":0,"x":382,"y":480,"wires":[["ea09fdd5.f8fa1"]]},{"id":"ea09fdd5.f8fa1","type":"ui_text","z":"38672f77.02d5a","group":"8cd8215a.6161f8","order":3,"width":0,"height":0,"name":"","label":"IO Link BIS M Head RFID Tag Detected","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":614,"y":480,"wires":[]},{"id":"bbe56f02.0cb498","type":"function","z":"38672f77.02d5a","name":"BIS00LH","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=1;\nvar startIndex=0;\nvar bIsSigned=true;\n\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":253,"y":480,"wires":[["6389c85c.29b99"]]},{"id":"cdc244c2.ed43a8","type":"function","z":"38672f77.02d5a","name":"TrigPin2","func":"msg.color=(msg.payload==1)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":570,"wires":[["a88d0da4.255c08"]]},{"id":"a88d0da4.255c08","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":7,"width":0,"height":0,"name":"","label":"BMF00JJ Pin#2 Activation","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":590,"y":570,"wires":[]},{"id":"6a2df674.f2126","type":"ui_ui_control","z":"38672f77.02d5a","name":"switch between tabs","x":540,"y":1520,"wires":[[]]},{"id":"2d4a8cf4.b2d394","type":"ui_button","z":"38672f77.02d5a","name":"","group":"7c9bbe8e.854bc8","order":2,"width":"6","height":"3","passthru":false,"label":"RFID & Traceability","color":"red","bgcolor":"white","icon":"fa-id-card","payload":"rfid","payloadType":"str","topic":"","x":150,"y":1440,"wires":[["6a2df674.f2126"]]},{"id":"c916ded9.b0952","type":"ui_button","z":"38672f77.02d5a","name":"","group":"c53eece.9d44b1","order":3,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1600,"wires":[["6a2df674.f2126"]]},{"id":"40a5fe6b.396d08","type":"ui_button","z":"38672f77.02d5a","name":"","group":"1a5c4272.0b27ae","order":6,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1640,"wires":[["6a2df674.f2126"]]},{"id":"d9574d83.cbafc","type":"ui_button","z":"38672f77.02d5a","name":"","group":"a88aa7c1.5525a","order":2,"width":"6","height":"5","passthru":false,"label":"Measurement Sensors","color":"red","bgcolor":"white","icon":"fa-arrows-v","payload":"measure","payloadType":"str","topic":"","x":140,"y":1360,"wires":[["6a2df674.f2126"]]},{"id":"e481468.69aa7b8","type":"ui_button","z":"38672f77.02d5a","name":"","group":"a88aa7c1.5525a","order":3,"width":"6","height":"3","passthru":false,"label":"Detection Sensors","color":"red","bgcolor":"white","icon":"fa-dot-circle-o","payload":"detection","payloadType":"str","topic":"","x":150,"y":1400,"wires":[["6a2df674.f2126"]]},{"id":"22739729.b392b","type":"ui_button","z":"38672f77.02d5a","name":"","group":"4dbb7425.e88434","order":4,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1720,"wires":[["6a2df674.f2126"]]},{"id":"b954c454.a8bf48","type":"ui_button","z":"38672f77.02d5a","name":"","group":"99534bac.2c731","order":2,"width":"6","height":"4","passthru":true,"label":"Smart Camera","color":"red","bgcolor":"white","icon":"fa-camera","payload":"camera","payloadType":"str","topic":"","x":160,"y":1280,"wires":[["6a2df674.f2126"]]},{"id":"30570d70.2257c2","type":"ui_button","z":"38672f77.02d5a","name":"","group":"7c9bbe8e.854bc8","order":3,"width":"6","height":"2","passthru":false,"label":"Indicators & Power","color":"red","bgcolor":"white","icon":"fa-battery-4","payload":"indicators","payloadType":"str","topic":"","x":150,"y":1320,"wires":[["6a2df674.f2126"]]},{"id":"7b958b92.0b10dc","type":"ui_button","z":"38672f77.02d5a","name":"","group":"e654fc01.7a4f58","order":7,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1680,"wires":[["6a2df674.f2126"]]},{"id":"1ba6022.613d6fe","type":"ui_text","z":"38672f77.02d5a","group":"e654fc01.7a4f58","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":70,"y":2260,"wires":[]},{"id":"6bce8676.baaf78","type":"comment","z":"38672f77.02d5a","name":"Fill-Space","info":"","x":80,"y":2220,"wires":[]},{"id":"b73554b8.c089b","type":"http request","z":"38672f77.02d5a","name":"BIS V {10.10.242.5/dprop.jsn}","method":"GET","ret":"obj","url":"http://10.10.242.5/dprop.jsn","tls":"","x":470,"y":60,"wires":[["3a224ac4.704dbe"]]},{"id":"d86bd12b.ade7d8","type":"function","z":"38672f77.02d5a","name":"tag y/n","func":"if (msg.payload[0]==\"No\") {\n    msg.payload=0;\n}\nelse (msg.payload=1);\nfinalNum=msg.payload;\nreturn {payload:finalNum};","outputs":1,"noerr":0,"x":250,"y":980,"wires":[["8e1e4fc1.85f2a8"]]},{"id":"8e1e4fc1.85f2a8","type":"function","z":"38672f77.02d5a","name":"Trig","func":"msg.color=(msg.payload==1)?\"orange\":\"white\"; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["8cb61571.d9cf4"]]},{"id":"8cb61571.d9cf4","type":"ui_text","z":"38672f77.02d5a","group":"8cd8215a.6161f8","order":4,"width":0,"height":0,"name":"","label":"IO Link BIS VM RFID Tag Detected","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":580,"y":980,"wires":[]},{"id":"ee7328f6.bfab9","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":8,"width":0,"height":0,"name":"","label":"BMF00JJ Pin#4 Activation","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":590,"y":615,"wires":[]},{"id":"608dda51.21d844","type":"function","z":"38672f77.02d5a","name":"TrigPin4","func":"msg.color=(msg.payload==2)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":614,"wires":[["ee7328f6.bfab9"]]},{"id":"92c01348.5a1a78","type":"function","z":"38672f77.02d5a","name":"BAW","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\n\nflow.set('myBAWVal',finalNum);\n\nfinalNum=parseFloat(finalNum).toFixed(2);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":253,"y":860,"wires":[["93d3f375.a112b"]]},{"id":"a8136ba7.b8b24","type":"comment","z":"38672f77.02d5a","name":"Interface & Tab Switching","info":"","x":130,"y":1240,"wires":[]},{"id":"c171ba26.2f1d78","type":"function","z":"38672f77.02d5a","name":"Trig","func":"msg.color=(msg.payload===1)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":391,"y":900,"wires":[["d7e8fefc.3d5c1"]]},{"id":"d7e8fefc.3d5c1","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":5,"width":0,"height":0,"name":"","label":"IO Link Background Suppression","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":601,"y":900,"wires":[]},{"id":"93d3f375.a112b","type":"function","z":"38672f77.02d5a","name":"Trig","func":"msg.color=(msg.payload!=64008)?\"lime\":\"red\"; \nreturn msg;","outputs":1,"noerr":0,"x":391,"y":860,"wires":[["9641d0f.44ebfb"]]},{"id":"9641d0f.44ebfb","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":2,"width":0,"height":0,"name":"","label":"IO Link N.O. Inductive Sensor Detection","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":621,"y":860,"wires":[]},{"id":"5beb0ce4.b1b53c","type":"ui_text","z":"38672f77.02d5a","group":"e654fc01.7a4f58","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":70,"y":2300,"wires":[]},{"id":"53712eb2.a6fe4","type":"ui_text","z":"38672f77.02d5a","group":"e654fc01.7a4f58","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":70,"y":2340,"wires":[]},{"id":"2556e1e2.b5a7ee","type":"function","z":"38672f77.02d5a","name":"get_I/O_Devices","func":"//This function copies jSon data from the master and \n//creates an array of jSon Objects.\n//Update the maxPorts number based on the \n//master chosen (4, 8 or 16).\nvar list=[];\nvar maxPorts = 16;\nvar ioLinkDevice= {};\nvar bCopyDevice=true;\n\nfor (i=0; i<maxPorts*2; i++ )\n{\n    //if (bCopyDevice)\n    {\n        ioLinkDevice = msg.payload[i];\n        list.push(ioLinkDevice);\n        ioLinkDevice={};\n        bCopyDevice =false;\n    }\n   // else\n  //  {\n  //      bCopyDevice =true;\n  //  }\n}\nreturn { payload : list};","outputs":1,"noerr":0,"x":736,"y":20,"wires":[["ed29e863.15fda"]]},{"id":"39b01b34.953ff4","type":"trigger","z":"38672f77.02d5a","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","name":"750ms","x":223,"y":80,"wires":[["ee00fb26.96ec6","b73554b8.c089b","5baee3b2.442804","2bc7346a.10284c","c3c766c.2343098"]]},{"id":"a8a9e4b.a1a5998","type":"ui_button","z":"38672f77.02d5a","name":"","group":"7c9bbe8e.854bc8","order":4,"width":"6","height":"3","passthru":true,"label":"JavaScript Object Notation","color":"red","bgcolor":"white","icon":"fa-jsfiddle","payload":"raw-data","payloadType":"str","topic":"","x":120,"y":1480,"wires":[["6a2df674.f2126"]]},{"id":"6c354ee9.4319f8","type":"ui_button","z":"38672f77.02d5a","name":"","group":"8cd8215a.6161f8","order":5,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1560,"wires":[["6a2df674.f2126"]]},{"id":"60b1b34c.6c649c","type":"function","z":"38672f77.02d5a","name":"BOD0012","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=3;\nvar startIndex=1;\nvar bIsSigned=true;\n\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":263,"y":780,"wires":[["86b8de04.edac8"]]},{"id":"86b8de04.edac8","type":"ui_gauge","z":"38672f77.02d5a","name":"","group":"4dbb7425.e88434","order":1,"width":0,"height":0,"gtype":"gage","title":"BOD0012 Distance","label":"mm","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"850","x":433,"y":780,"wires":[]},{"id":"6d2563bb.2e150c","type":"function","z":"38672f77.02d5a","name":"BOD0020","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=2;\nvar startIndex=0;\nvar bIsSigned=true;\n\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":263,"y":700,"wires":[["e156627b.712b18"]]},{"id":"e156627b.712b18","type":"ui_gauge","z":"38672f77.02d5a","name":"","group":"4dbb7425.e88434","order":3,"width":0,"height":0,"gtype":"gage","title":"BOD0020 Distance","label":"mm","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"850","x":436,"y":700,"wires":[]},{"id":"6d0950bc.83ecc8","type":"ui_button","z":"38672f77.02d5a","name":"","group":"99534bac.2c731","order":3,"width":"6","height":"4","passthru":false,"label":"Hubs & Analog IO","color":"red","bgcolor":"white","icon":"fa-podcast","payload":"slave-dev","payloadType":"str","topic":"","x":150,"y":1520,"wires":[["6a2df674.f2126"]]},{"id":"89d681f5.5fc428","type":"ui_button","z":"38672f77.02d5a","name":"","group":"b31974ed.c3be5","order":6,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1760,"wires":[["6a2df674.f2126"]]},{"id":"1749640f.157c3c","type":"ui_text","z":"38672f77.02d5a","group":"b31974ed.c3be5","order":2,"width":0,"height":0,"name":"","label":"BNI00AJ - BNI IOL-719-002-Z012","format":"Analog IO Hub","layout":"col-center","x":160,"y":1160,"wires":[]},{"id":"3177affd.2d4d78","type":"comment","z":"38672f77.02d5a","name":"Analog and Hub Devices Names","info":"","x":150,"y":1126,"wires":[]},{"id":"b4dcab0a.dea2a","type":"ui_text","z":"38672f77.02d5a","group":"b31974ed.c3be5","order":4,"width":0,"height":0,"name":"","label":"BNI00AR - BNI IOL-302-002-E012","format":"IP69K Washdown","layout":"col-center","x":460,"y":1160,"wires":[]},{"id":"9aa03654.71a6c","type":"ui_text","z":"38672f77.02d5a","group":"b31974ed.c3be5","order":5,"width":0,"height":0,"name":"","label":"BNI0091 - BNI IOL-302-S02-R026","format":"Weld Shield Immune","layout":"col-center","x":160,"y":1200,"wires":[]},{"id":"9450b16b.b2af2","type":"ui_text","z":"38672f77.02d5a","group":"b31974ed.c3be5","order":3,"width":0,"height":0,"name":"","label":"BNI0098 - BNI IOF-329-P02-Z038","format":"Safety Hub","layout":"col-center","x":460,"y":1200,"wires":[]},{"id":"453fabb3.b50c84","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":185,"y":2260,"wires":[]},{"id":"90be9ba7.a2eba8","type":"ui_text","z":"38672f77.02d5a","group":"4dbb7425.e88434","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":184,"y":2300,"wires":[]},{"id":"559cdde5.2745cc","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":9,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":2260,"wires":[]},{"id":"7e0a3087.ea2ce8","type":"ui_text","z":"38672f77.02d5a","group":"f387ca4b.206268","order":10,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":2300,"wires":[]},{"id":"437d8aa0.76345c","type":"http in","z":"38672f77.02d5a","name":"","url":"/JPG.png","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1880,"wires":[["f6ca167a.b7bcb8"]]},{"id":"f6ca167a.b7bcb8","type":"file in","z":"38672f77.02d5a","name":"filePath","filename":"/storage/emulated/0/node-red/JPG.png","format":"","sendError":true,"x":240,"y":1880,"wires":[["646b6055.843a4"]]},{"id":"646b6055.843a4","type":"change","z":"38672f77.02d5a","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"JPG/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":386,"y":1880,"wires":[["2a1bf6e8.a3391a","e822a5fd.cec408"]]},{"id":"2a1bf6e8.a3391a","type":"http response","z":"38672f77.02d5a","name":"Logo Display","statusCode":"","headers":{},"x":541,"y":1880,"wires":[]},{"id":"e822a5fd.cec408","type":"ui_template","z":"38672f77.02d5a","group":"a88aa7c1.5525a","name":"Balluff Logo","order":1,"width":0,"height":0,"format":"<html>\n<head>\n  \n\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\"><img src=\"/JPG.png\" height=\"50\" width=\"350\"></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":694,"y":1880,"wires":[[]]},{"id":"b955664c.c3096","type":"comment","z":"38672f77.02d5a","name":"Balluff Logo at Header","info":"","x":240,"y":1840,"wires":[]},{"id":"1ed2781d.b3cfb","type":"http in","z":"38672f77.02d5a","name":"","url":"/master.jpg","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1960,"wires":[["282ac8b.863b138"]]},{"id":"282ac8b.863b138","type":"file in","z":"38672f77.02d5a","name":"filePath","filename":"/storage/emulated/0/node-red/master.jpg","format":"","sendError":true,"x":260,"y":1960,"wires":[["d071ad7c.d37b6"]]},{"id":"d071ad7c.d37b6","type":"change","z":"38672f77.02d5a","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"master/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":406,"y":1960,"wires":[["8e21bb2.b3f2cc8","82535e30.6135a8"]]},{"id":"8e21bb2.b3f2cc8","type":"ui_template","z":"38672f77.02d5a","group":"b31974ed.c3be5","name":"Masterblock Img","order":1,"width":0,"height":0,"format":"<html>\n<head>\n  \n\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\"><img src=\"/master.jpg\" height=300 width=120></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":724,"y":1960,"wires":[[]]},{"id":"82535e30.6135a8","type":"http response","z":"38672f77.02d5a","name":"Logo Display","statusCode":"","headers":{},"x":561,"y":1960,"wires":[]},{"id":"3fdc3831.854908","type":"comment","z":"38672f77.02d5a","name":"UI of Masterblock","info":"","x":100,"y":1920,"wires":[]},{"id":"8ff87cee.982838","type":"http in","z":"38672f77.02d5a","name":"","url":"/rfid.png","method":"get","upload":false,"swaggerDoc":"","x":90,"y":2040,"wires":[["2b5c5ee8.9bfaaa"]]},{"id":"2b5c5ee8.9bfaaa","type":"file in","z":"38672f77.02d5a","name":"filePath","filename":"/storage/emulated/0/node-red/rfid.png","format":"","sendError":true,"x":240,"y":2040,"wires":[["15083c41.8c7d44"]]},{"id":"15083c41.8c7d44","type":"change","z":"38672f77.02d5a","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"rfid/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":386,"y":2040,"wires":[["5aa7ce2e.a348f","678a38b6.226b6"]]},{"id":"5aa7ce2e.a348f","type":"ui_template","z":"38672f77.02d5a","group":"8cd8215a.6161f8","name":"BIS R/W Head","order":2,"width":0,"height":0,"format":"<html>\n<head>\n  \n\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\" border-color=white><img src=\"/rfid.png\" height=70 width=75></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704,"y":2040,"wires":[[]]},{"id":"678a38b6.226b6","type":"http response","z":"38672f77.02d5a","name":"Logo Display","statusCode":"","headers":{},"x":541,"y":2040,"wires":[]},{"id":"9fdcdfd.00b8f2","type":"comment","z":"38672f77.02d5a","name":"UI of RFID Head","info":"","x":100,"y":2000,"wires":[]},{"id":"f4ef1ee1.38544","type":"ui_text","z":"38672f77.02d5a","group":"8cd8215a.6161f8","order":1,"width":0,"height":0,"name":"","label":"BIS Products","format":"{{msg.payload}}","layout":"col-center","x":694,"y":2080,"wires":[]},{"id":"f9918d7f.5698c","type":"ui_template","z":"38672f77.02d5a","group":"c53eece.9d44b1","name":"JSON","order":2,"width":0,"height":0,"format":"<html>\n<head>\n<style>\np    {color: orangered;}\n        </style>\n    </head>\n<body>\n<p><span style=\"color:cyan;\">ProductText:</span>\t   \"Power Supply, IP67, 1-phase, 24Vdc, 3,8A\"</p>\n<p><span style=\"color:cyan;\">VendorName:</span>\t        \"BALLUFF\"</p>\n<p><span style=\"color:cyan;\">VendorText:</span>\t\t   \"www.balluff.com\"</p>\n<p><span style=\"color:cyan;\">ProductName:</span>\t \"BAE PS-XA-1W-24-038-603-I\"</p>\n<p><span style=\"color:cyan;\">ProductId:</span>\t\t \t        \"BAE00TK\"</p>\n<p><span style=\"color:cyan;\">SerialNumber:</span>\t \t \t    \"\"</p>\n<p><span style=\"color:cyan;\">HwRev:\t</span>\t \t             \" 1.00\"</p>\n<p><span style=\"color:cyan;\">FwRev:</span>\t \t \t            \" 2.16\"</p>\n<p><span style=\"color:cyan;\">ApplTag:</span>\t \t            \"\"</p>\n<p><span style=\"color:cyan;\">Event:\t </span>\t            \"0xB001\"</p>\n<p><span style=\"color:cyan;\">EventFlag:\t</span>\t         \"0xB0\"</p>\n<p><span style=\"color:cyan;\">ProcessInputs:\t</span>\t     \"0F 00 1E 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 \"</p>\n<p><span style=\"color:cyan;\">ProcessOutputs:</span>\t \t    \"00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 \"</p>\n<p><span style=\"color:cyan;\">DirectParameters:</span>\t \t\"99 62 62 1B 11 83 00 03 78 01 07 03 00 00 00 00 \"</p>\n<p><span style=\"color:cyan;\">Status:</span>\t \t            \"87FF\"</p>\n<p><span style=\"color:cyan;\">DsContentVendorId:</span>\t \t\"00 00 \"</p>\n<p><span style=\"color:cyan;\">DsContentDeviceId:</span>\t \t\"00 00 00 \"</p>\n<p><span style=\"color:cyan;\">DsContentChecksum:</span>\t \t\"00 00 00 00 \"\n<p><span style=\"color:cyan;\">DsContentBuffer: </span>\t \t\"(none)\"</p>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":834,"y":2160,"wires":[[]]},{"id":"6e821d12.0117b4","type":"comment","z":"38672f77.02d5a","name":"Ex. JSON","info":"","x":844,"y":2120,"wires":[]},{"id":"fc9c85d6.19c778","type":"comment","z":"38672f77.02d5a","name":"Images","info":"","x":70,"y":1840,"wires":[]},{"id":"944e0424.d4e558","type":"ui_button","z":"38672f77.02d5a","name":"","group":"53a0dd92.e3d004","order":3,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"green","icon":"fa-home","payload":"Main","payloadType":"str","topic":"","x":190,"y":1800,"wires":[["6a2df674.f2126"]]},{"id":"3ea7a28a.ecf75e","type":"http in","z":"38672f77.02d5a","name":"","url":"/bvs.png","method":"get","upload":false,"swaggerDoc":"","x":90,"y":2140,"wires":[["ec1ddfdf.56c7d8"]]},{"id":"ec1ddfdf.56c7d8","type":"file in","z":"38672f77.02d5a","name":"filePath","filename":"/storage/emulated/0/node-red/bvs.png","format":"","sendError":true,"x":240,"y":2140,"wires":[["705833cb.b3dbd4"]]},{"id":"705833cb.b3dbd4","type":"change","z":"38672f77.02d5a","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"bvs/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":386,"y":2140,"wires":[["7a907c7e.7b6d0c","f4233e36.fc955"]]},{"id":"7a907c7e.7b6d0c","type":"ui_template","z":"38672f77.02d5a","group":"53a0dd92.e3d004","name":"BVS Img","order":1,"width":0,"height":0,"format":"<html>\n<head>\n  \n\n<style>\np    {color: white;}\n        </style>\n    </head>\n<body>\n<div align=\"center\"><img src=\"/bvs.png\" height=300 width=300></div>\n</body></html> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":684,"y":2140,"wires":[[]]},{"id":"f4233e36.fc955","type":"http response","z":"38672f77.02d5a","name":"Logo Display","statusCode":"","headers":{},"x":541,"y":2140,"wires":[]},{"id":"7855f038.01dc9","type":"comment","z":"38672f77.02d5a","name":"BVS002A","info":"","x":80,"y":2100,"wires":[]},{"id":"c594dc9c.9ced3","type":"ui_template","z":"38672f77.02d5a","group":"53a0dd92.e3d004","name":"SmartCamera IP","order":2,"width":0,"height":0,"format":"<html>\n<body>\n<style>\n    .button {\n        background: silver;\n        text-align: center;\n        width: 480px;\n    }\n</style>\n<input type=\"button\" class=\"button\" align=\"center\" value=\"BVS002A SMARTCAMERA COCKPIT\" onclick=\"newDoc()\">\n<script>\nfunction newDoc() {\n  window.location.assign(\"http://10.10.242.101/\")\n}\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":110,"y":2180,"wires":[[]]},{"id":"7e1cb108.6c6788","type":"ui_text","z":"38672f77.02d5a","group":"7c9bbe8e.854bc8","order":1,"width":0,"height":0,"name":"","label":"","format":"","layout":"col-center","x":184,"y":2340,"wires":[]},{"id":"8569e23f.0f9cd","type":"ui_text","z":"38672f77.02d5a","group":"99534bac.2c731","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":2340,"wires":[]},{"id":"bc2bb376.00122","type":"comment","z":"38672f77.02d5a","name":"SmartLight","info":"","x":80,"y":260,"wires":[]},{"id":"7c91cecf.0056d8","type":"function","z":"38672f77.02d5a","name":"BNI0088","func":"// This function takes msg.payload as string with process data inputs\n// converts each string from hex to equivalent decimal\n// combines decimal values from MSB to LSB \n// bit zero is ignored \nvar max_size=8;\nvar startIndex=6;\nvar bIsSigned=false;\nvar position =[];\nvar finalNum=0;\n\nfor(i=startIndex; i <max_size; i++)\n{\n    position[i]=parseInt(msg.payload[i], 16)\n    if(i===0 && bIsSigned) position[i]=position[i]& 0x7F;\n    finalNum += position[i] << (8*(max_size-1-i));\n}\nflow.set('myBTLVal',finalNum);\nreturn {payload : finalNum};","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["9a97f26.ecdf09"]]},{"id":"64a834f0.6879a4","type":"function","z":"38672f77.02d5a","name":"msg","func":"return msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["f7ba3f5a.ab545"]]},{"id":"8fada362.ddb6b","type":"ui_text","z":"38672f77.02d5a","group":"1a5c4272.0b27ae","order":1,"width":0,"height":0,"name":"","label":"Three-Segment BNI0088 Light Array Indication","format":"","layout":"col-center","x":460,"y":300,"wires":[]},{"id":"2bc7346a.10284c","type":"http request","z":"38672f77.02d5a","name":"8portMaster {10.10.242.2/dprop.jsn}","method":"GET","ret":"obj","url":"http://10.10.242.2/dprop.jsn","tls":"","x":480,"y":200,"wires":[["b84f3a04.3e7178"]]},{"id":"b84f3a04.3e7178","type":"function","z":"38672f77.02d5a","name":"get_I/O_Devices","func":"//This function copies jSon data from the master and \n//creates an array of jSon Objects.\n//Update the maxPorts number based on the \n//master chosen (4, 8 or 16).\nvar list=[];\nvar maxPorts = 8;\nvar ioLinkDevice= {};\nvar bCopyDevice=true;\n\nfor (i=0; i<maxPorts*2; i++ )\n{\n    //if (bCopyDevice)\n    {\n        ioLinkDevice = msg.payload[i];\n        list.push(ioLinkDevice);\n        ioLinkDevice={};\n        bCopyDevice =false;\n    }\n   // else\n  //  {\n  //      bCopyDevice =true;\n  //  }\n}\nreturn { payload : list};","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["6d7964fa.0061dc"]]},{"id":"6d7964fa.0061dc","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=7;\nvar split =' ';\nvar port = 5;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].ProcessOutputs.length; i++)\n{\n\tif(msg.payload[port].ProcessOutputs.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].ProcessOutputs.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":110,"y":340,"wires":[["7c91cecf.0056d8"]]},{"id":"9a97f26.ecdf09","type":"function","z":"38672f77.02d5a","name":"level","func":"var percent=(msg.payload/65280)*100;\npercent=Math.round(percent);\nreturn {payload:percent};","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["64a834f0.6879a4"]]},{"id":"ef5f3dea.5a8208","type":"ui_text","z":"38672f77.02d5a","group":"1a5c4272.0b27ae","order":2,"width":"6","height":"1","name":"","label":"Smartlight Level Fill: ","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-center","x":780,"y":340,"wires":[]},{"id":"f7ba3f5a.ab545","type":"change","z":"38672f77.02d5a","name":"color","rules":[{"t":"set","p":"color","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["ef5f3dea.5a8208"]]},{"id":"4c04044d.b8053c","type":"comment","z":"38672f77.02d5a","name":"Gives Fill % of scaled SL","info":"","x":770,"y":300,"wires":[]},{"id":"c3c766c.2343098","type":"http request","z":"38672f77.02d5a","name":"BIS M {10.10.242.9/dprop.jsn}","method":"GET","ret":"obj","url":"http://10.10.242.9/dprop.jsn","tls":"","x":470,"y":140,"wires":[["60224ecd.d21de"]]},{"id":"60224ecd.d21de","type":"function","z":"38672f77.02d5a","name":"get_I/O_Devices","func":"//This function copies jSon data from the master and \n//creates an array of jSon Objects.\n//Update the maxPorts number based on the \n//master chosen (4, 8 or 16).\nvar list=[];\nvar maxPorts = 4;\nvar ioLinkDevice= {};\nvar bCopyDevice=true;\n\nfor (i=0; i<maxPorts*2; i++ )\n{\n    //if (bCopyDevice)\n    {\n        ioLinkDevice = msg.payload[i];\n        list.push(ioLinkDevice);\n        ioLinkDevice={};\n        bCopyDevice =false;\n    }\n   // else\n  //  {\n  //      bCopyDevice =true;\n  //  }\n}\nreturn { payload : list};","outputs":1,"noerr":0,"x":740,"y":140,"wires":[["322c2076.7fc848"]]},{"id":"322c2076.7fc848","type":"function","z":"38672f77.02d5a","name":"Split","func":"//This function splits string into multiple small strings\n//1. change the split variable to the character to split on\n//2. change port number to identify the object.\nvar maxlen=4;\nvar split =' ';\nvar port = 0;\nvar list =[];\nvar str = \"\";\n\nfor(i=0; i< msg.payload[port].HeadState.length; i++)\n{\n\tif(msg.payload[port].HeadState.charAt(i) == split)\n\t{\n\t\tlist.push(str);\n\t\tmaxlen--;\n\t\tif (maxlen===0) return {payload : list};\n\t\tstr =\"\";\n\t}\n\telse str += msg.payload[port].HeadState.charAt(i);\n}\nif(str.length >0) list.push(str);\nreturn {payload : list};","outputs":1,"noerr":0,"x":90,"y":200,"wires":[["66609fbb.052998"]]},{"id":"66609fbb.052998","type":"function","z":"38672f77.02d5a","name":"tag y/n","func":"if (msg.payload[0]==\"No\") {\n    msg.payload=0;\n}\nelse (msg.payload=1);\nfinalNum=msg.payload;\nreturn {payload:finalNum};","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["74d71998.4170c"]]},{"id":"74d71998.4170c","type":"function","z":"38672f77.02d5a","name":"Trig","func":"msg.color=(msg.payload==1)?\"orange\":\"white\"; \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["315e159b.fdcdaa"]]},{"id":"315e159b.fdcdaa","type":"ui_text","z":"38672f77.02d5a","group":"8cd8215a.6161f8","order":4,"width":0,"height":0,"name":"","label":"IO Link BIS M RFID Processor","format":"<font color={{msg.color}} ><i class=\"fa fa-square\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":510,"y":240,"wires":[]},{"id":"24c2779.9bb2d08","type":"comment","z":"38672f77.02d5a","name":"***NOTE***","info":"The \"File-In Logo\" node has a specific filepath to it\nthat only pertains to this computer. When the flow was\ntransfered to a tablet, it was changed to\n\n/storage/emulated/0/node-red/JPG.png\n\nThe images were transfered to the tablet and a folder\ncalled \"node-red\" was created to store said images. \n","x":890,"y":1880,"wires":[]},{"id":"87a6ef0.967049","type":"ui_text","z":"38672f77.02d5a","group":"86ff1ac3.d31498","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":542,"y":2340,"wires":[]},{"id":"f4913af.4b81548","type":"ui_text","z":"38672f77.02d5a","group":"86ff1ac3.d31498","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":432,"y":2340,"wires":[]},{"id":"86ff1ac3.d31498","type":"ui_group","z":"","name":"Group 2","tab":"e4085d56.e3009","order":2,"disp":false,"width":"6","collapse":false},{"id":"1a5c4272.0b27ae","type":"ui_group","z":"","name":"Group 1","tab":"db7f9498.a4abf8","order":1,"disp":false,"width":"6","collapse":false},{"id":"e654fc01.7a4f58","type":"ui_group","z":"","name":"Group 1","tab":"e4085d56.e3009","order":1,"disp":false,"width":"6","collapse":false},{"id":"f387ca4b.206268","type":"ui_group","z":"","name":"Group 1","tab":"49fe323b.318854","order":1,"disp":false,"width":"6","collapse":false},{"id":"8cd8215a.6161f8","type":"ui_group","z":"","name":"Group 1","tab":"e03d12e6.d3f91","order":1,"disp":false,"width":"6","collapse":false},{"id":"7c9bbe8e.854bc8","type":"ui_group","z":"","name":"buttons3","tab":"a3c61164.857308","order":3,"disp":false,"width":"6","collapse":false},{"id":"c53eece.9d44b1","type":"ui_group","z":"","name":"Group 1","tab":"b7d741f4.7df24","order":1,"disp":false,"width":"6","collapse":false},{"id":"a88aa7c1.5525a","type":"ui_group","z":"","name":"buttons2","tab":"a3c61164.857308","order":2,"disp":false,"width":"6","collapse":false},{"id":"4dbb7425.e88434","type":"ui_group","z":"","name":"Group 2","tab":"49fe323b.318854","order":2,"disp":false,"width":"6","collapse":false},{"id":"99534bac.2c731","type":"ui_group","z":"","name":"buttons","tab":"a3c61164.857308","order":1,"disp":false,"width":"6","collapse":false},{"id":"b31974ed.c3be5","type":"ui_group","z":"","name":"Group 1","tab":"d7804469.2474c","order":1,"disp":false,"width":"6","collapse":false},{"id":"53a0dd92.e3d004","type":"ui_group","z":"","name":"Group 1","tab":"33d4033c.8349d4","order":1,"disp":false,"width":"6","collapse":false},{"id":"e4085d56.e3009","type":"ui_tab","z":"","name":"measure","icon":"dashboard","order":12},{"id":"db7f9498.a4abf8","type":"ui_tab","z":"","name":"indicators","icon":"dashboard","order":11},{"id":"49fe323b.318854","type":"ui_tab","z":"","name":"detection","icon":"dashboard","order":13},{"id":"e03d12e6.d3f91","type":"ui_tab","z":"","name":"rfid","icon":"dashboard","order":10},{"id":"a3c61164.857308","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":8},{"id":"b7d741f4.7df24","type":"ui_tab","z":"","name":"raw-data","icon":"dashboard","order":14},{"id":"d7804469.2474c","type":"ui_tab","z":"","name":"slave-dev","icon":"dashboard","order":15},{"id":"33d4033c.8349d4","type":"ui_tab","z":"","name":"camera","icon":"dashboard","order":16}]
